<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.librarymanagement">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">

        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LibrarayManagement.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity android:name=".activities.CreateAccountActivity"/>

        <!--    Activities Admin     -->

        <activity android:name=".activities.Admin.DashboardAdminActivity"/>
        <activity android:name=".activities.Admin.MyUsersActivity"/>
        <activity android:name=".activities.Admin.AuthorsActivity"/>
        <activity android:name=".activities.Admin.BooksActivity"/>
        <activity android:name=".activities.Admin.RequestedBooksActivity"/>
        <activity android:name=".activities.Admin.OverDueBooksActivity"/>
        <activity android:name=".activities.Admin.AuthorDetailsActivity"/>
        <activity android:name=".activities.Admin.BookDetailsActivity"/>
        <activity android:name=".activities.Admin.RequestedBookDetailsActivity"/>
        <activity android:name=".activities.Admin.AddBookActivity"/>
        <activity android:name=".activities.Admin.AddAuthorActivity"/>
        <activity android:name=".activities.Admin.UserDetailsActivity"/>

        <!--     Activity Users      -->
        <activity android:name=".activities.Users.FindBooksActivity"/>
        <activity android:name=".activities.Users.AuthorsActivity"/>
        <activity android:name=".activities.Users.MyShelvesActivity"/>
        <activity android:name=".activities.Users.MyDuesActivity"/>
        <activity android:name=".activities.Users.BookDetailsActivity"/>
        <activity android:name=".activities.Users.DashboardUserActivity"/>
        <activity android:name=".activities.Users.BookShelfDetailsActivity"/>
        <activity android:name=".activities.Users.AuthorDetailsActivity"/>
        <activity android:name=".activities.Users.UserProfile"/>
    </application>

</manifest>